body {
  background-color: #DAF6DA;
  color: #0000C2;
  font-size: 1em; /* 16px */
}

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 2em; /* 32px */
}

h2 {
  font-size: 1.5em; /* 24px */
  font-style: italic;
}

h3 {
  font-size: 1.2em; /* 19px */
}

p {
  line-height: 1.8;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left {
  float: left;
  width: 50%;
}


li {
  float: right;
  padding: 30px;
  font-size: 1.125em; /* 18px */
}

a {
    text-decoration: none;
}

a:hover {
    color: green;
}


article {
  padding-top: 100px;
}

figure {
  font-size: .938em; /* 15px */
}

.container {
  margin: 0 auto;
  width: 50%;
}
